p{margin-left: 30px;}
body{background-color: bisque;}
p0{font-size: 30px;color: cornflowerblue}
p1{font-style: italic;margin-left: 30px;font-size: 20px;}
p2{font-style: italic;margin-left: 30px;font-size: 20px;}
p3{font-style: italic;margin-left: 30px;font-size: 20px;}
ul{font-style: italic;}